[bumpversion]
current_version = 0.1.2
commit = True
tag = True

[bumpversion:file:setup.py]

[bumpversion:file:README.rst]

[bumpversion:file:docs/conf.py]

[bumpversion:file:src/jinja2_webpack/__init__.py]

